{% extends "base.html" %}


{% block content %}
<section id="content" class="body">
{% block content_title %}
<h2>Archives</h2>
<p>
    {% for d in dates %}

        {% if loop.changed(d.date|strftime('%Y')) %}
    <a href="{{ LINKS[0][1] }}{{ d.date|strftime('%Y') }}" title="Archives de l'année {{ d.date|strftime('%Y') }}">{{ d.date|strftime('%Y') }}</a>
        {% endif %}

    {% endfor %}
</p>
{% endblock content_title %}
<hr \>
<ul>
{% for article in dates %}
    <li>
        {{ article.date|strftime('%Y %b') }} &raquo; <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.summary }}">{{ article.title }}</a> - [ {% include 'taglist_short.html' %}]
    </li>
{% endfor %}
</ul>
</section>
{% endblock %}
