<nav class="post-info">
    <p>Publié le {{ article.date|strftime('%d/%m/%Y') }}</p>
    {% if article.modified %}
    <p>Édité le {{ article.modified|strftime('%d/%m/%Y') }}</p>
    {% endif %}
    {% if article.authors %}
    <p>Par :
    {% for author in article.authors %}
        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
    {% endfor %}
    </p>
    {% endif %}
    <p>
        Dans : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </p>
    <p>
        Tags :
    {% include 'taglist.html' %}
    </p>
    {% import 'translations.html' as translations with context %}
    <p>{{ translations.translations_for(article) }}</p>
</nav><!-- /.post-info -->
