{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Auteurs{% endblock %}

{% block content %}
<section id="content" class="body">
    <h2>Auteurs : </h2>
    <ul>
    {% for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
</section>ß
{% endblock %}
