<!DOCTYPE html>
<!-- Tu jettes un œil au code? J'adore faire ça moi aussi!
Bon il est pas encore au top, mais j'y travail!
Je t'offre une bière la prochaine fois que l'on se croise avec le mot de passe
"Cœur d'artichaut à la moutarde à l'ancienne" (-:
-->
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    <link rel="shortcut icon" href="/{{ FAVICO }}" media='all' type="image/ico" >
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% block extra_head %}{% endblock extra_head %}
</head>

<body id="index" class="home">
{% include 'github.html' %}
        <header id="banner" class="body">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
            <nav><ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_CATEGORIES_ON_MENU -%}
            {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
            {% endif %}
            {% if DISPLAY_PAGES_ON_MENU -%}
            {% for pg in pages %}
                <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
            {% endfor %}
            {% endif %}
            </ul></nav>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}

        <footer class="body">
            <div id="about">
            {% if LINKS %}
                {% for name, link in LINKS %}
                <a class="spaced" href="{{ link }}">{{ name }}</a>
                {% endfor %}
            {% endif %}
            {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
                {% for name, link in SOCIAL %}
                <a class="spaced" href="{{ link }}">{{ name|title }}</a>
                {% endfor %}
                {% if FEED_ALL_ATOM %}
                <a class="spaced" href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">Flux Atom</a>
                {% endif %}
            {% endif %}
                <p class="spaced">
                    Frédéric Zind - <a href="https://creativecommons.org/licenses/by-sa/2.0/deed.fr" title="Licence du contenu">Copyleft CC-BY-SA</a> - 2011/2019
                </p>
            </div>

            <div class="mentions">
                Site construit le
                <em>
                    {% include 'date' %} à {% include 'time' %} [UTC]
                </em>
                avec le commit
                <em>
                    <a href="{{ REPO_COMMIT_URL }}/{% include 'commit' %}" title="Lien vers le commit utilisé pour construire cette version du site" class=""><code>{% include 'commit' %}</code></a>
                </em>
               |
                Motorisé par <a href="http://getpelican.com/">Pelican</a>, qui tire grand avantage de <a href="http://python.org">Python</a>
            </div>
        </footer>

</body>
</html>
