{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
<section id="content" class="body">

{% set ns = namespace(content ='Bienvenue !') %}

{% for pg in hidden_pages if pg.slug == 'accueil' %}
    {% set ns.content = pg.content %}
{% endfor %}

{% for pg in pages if pg.slug == 'accueil' %}
    {% set ns.content = pg.content %}
{% endfor %}

<p>{{ ns.content }}</p>

</section>
{% endblock content %}
