{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body">
    {% import 'translations.html' as translations with context %}
    <h6><em>{{ translations.translations_for(page) }}</em></h6>
    <h2>{{ page.title }}</h2>
    <hr />
    {{ page.content }}

    {% if page.slug == 'contact' %}
        {% include 'social.html' %}
    {% endif %}

</section>
{% endblock %}
