{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
{% block content_title %}
<h2>Archives pour {{ period | reverse | join(' ') }}</h2>
{% endblock content_title %}
<ul>
{% for article in dates %}
    <li>
        {{ article.date|strftime('%Y %b') }} &raquo; <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.summary }}">{{ article.title }}</a> - [ {% include 'taglist_short.html' %}]
    </li>
{% endfor %}
</ul>
</section>
{% endblock %}
