{% if SOCIAL %}
    <ul class="social">
    {% for name, link in SOCIAL %}
        <li class="style-none">
            <a href="{{ link }}" title="{{ name|title }}">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/{{ name }}.png" title="Image pour le site {{ name|title }}" />
                {{ name|title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
