{% if article.tags %}
    <kbd>
    {% for tag in article.tags %}
        {% if loop.index < MAX_NB_TAG_IN_LIST %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
        {% elif loop.index == MAX_NB_TAG_IN_LIST %}
        et plus!
        {% endif %}
    {% endfor %}
    </kbd>
{% endif %}
