{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}

<section id="content" class="body">
    <h2>Tags dans {{ SITENAME }}</h2>
    {% for tag, articles in tags %}
    <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</span>
    {% endfor %}
</section>

{% endblock %}
